.se_minfo{
	margin-bottom:-2px; margin-left:3px; cursor:pointer;
}	
.content .plugin-container-outer .plugin-container{
	padding-bottom:0;	
}
.se_getHelpBtnWrap{
    background-color: #eee; padding:10px 12px;	
}	
.se_getHelpBtn{
	background-color:#26648E; font-size:1.5rem; line-height:1.5; padding:.6rem 1.4rem; 
    border:1px solid #ddd; text-align:center; cursor:pointer; color:#eee; border-radius:3px;
}	
.se_getHelpBtn:hover{
	background-color:#35a1ab;	
}	
.se_btnWrap{
	margin-left:10px;
}
.se_btnWrap div{
	padding:2px 6px;
}	
.se_agLgnd{
	background-color:rgba(161,18,37,0.7); border:1px solid rgba(161,18,37,0.7);
}
.se_proLgnd{
	background-color:rgba(79,168,74,0.7); border:1px solid rgba(79,168,74,0.7);
}
.se_refLgnd{
	background-color:rgba(64,140,180,0.7); border:1px solid rgba(64,140,180,0.7);
}
.se_lgndItemWrap{
	display:flex; margin-right:6px; align-items:center;
}
.se_chartLgnd{
	display:flex; font-size:1.2rem; margin:-10px 10px 4px 10px; justify-content:center; 
}
.se_lgndItem{
	height:14px; margin-right:5px;
}
.se_noData{
	border:1px solid; margin-right:4px; margin-left:2px; text-align:center; margin-bottom: 25px; padding-top:50px; height:150px;
}
.se_attLine{
	font-size:1.4rem; padding-bottom:6px; padding-left:5px; text-indent:-10px; margin-left:5px;	
}
.se_attribute{
	text-align:center;
}
.se_attSpan{
	color: #21658c; font-size:16px; text-align:center;
}
.se_attSpanSm{
	color: #21658c; font-size: 1.2rem;
}
.se_attWrap{
	display:flex; flex-wrap:wrap; justify-content:center;
}
.se_att-wrap{
	width:156px; margin:3px; border:1pt solid #cdd5d5; padding:5px; box-shadow:0 1px 1px rgba(16,22,26,.2); position:relative;
}
.se_city-selected{
	display:flex;
}
.se_smallFont{
	font-size: 1.2rem;
}
.se_legendSpace{
	margin-right:10px; margin-left:10px; margin-top:-10px; margin-bottom:10px; 
}
.se_groupCharts{
	/*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);*/ padding-bottom:4px; padding-top:4px; margin-bottom:6px; width:353px;
}
.se_groupAtts{
	/*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);*/ padding-bottom:4px; margin-bottom:6px; width:353px; padding:4px 8px;
}
.se_zoomToText{
	font-size:1.3rem; color:blue !important; cursor:pointer; margin-top:10px;
}	
.se_zoomToText:hover{
    color:#21658c !important;
}

.waterSecurity .slider-container {
	margin: 10px 0 20px;
}
.waterSecurity .toggle-btn{
	margin-bottom: 0; margin-left:10px;
}
.se_rslide{
	width:200px;
}
.ig-icon{
	padding:2px !important; height:28px; position:absolute; top:6px; margin-left:4px; z-index:2600;
}